* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
}

section {
    flex-grow: 1;
    flex-basis: 200;
    padding: 2rem 9%;
}


/*header*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    text-decoration: none;
    font-size: 3rem;
    color: black;
    font-weight: bolder;
}
header .navbar a{
    font-size: 15px;
    color: #666;
    text-align: right;
}

/*PRINCIPIO*/

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(IMG/fjpg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 50rem;
}

.home .content h3 {
    font-size: 45px;
    color: black;
}

.home .content span {
    font-size: 25px;
    color: rgb(160, 160, 160);
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p {
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding: 1rem 0;
    line-height: 1.5;
}

.heading {
    text-align: center;
    font-size: 30px;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
}

.heading span {
    color: rgb(233, 128, 122);
}


/*about us*/

.row {
    display: flex;
    justify-content: space-evenly;
}

.about .row .video-container video {
    width: 400px;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 300px;
    object-fit: cover;
}

.content {
    width: 40%;
}

.about .row .content h3 {
    font-size: 20px;
    text-align: center;
    color: #333;
}

.about .row .content p {
    font-size: 15px;
    color: #999;
    padding: 10px 0;
    padding-top: 10px;
    text-align: justify;
}
/*TIPOS*/
.titulo{
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
.contenedor-tipos{
    padding: 60px 0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden; 
}
.cont-tipos{
    display: flex;
    justify-content: space-evenly;
}
.cont-tipos .t1{
    width: 48%;
}
.t1{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}
.t1 thead th{
    background-color: #183926;
    color: #fff;
    text-align: center;
}
.t1 th,
.t1 td{
    padding: 12px 15px;
}
.t1 tbody tr{
    border-bottom: 1px solid #dddddd;
}
.list-tipos{
    width: 48%;
}
ul{
    list-style-position: inside;
}
li{
    font-weight: 300;
}
.list-tipos h3{
    text-align: left;
    color: #183926;
    font-size: 0.9em;
}
footer {
    background: #414141;
    padding: 60px 0;
    width: 100%;
    overflow: hidden; 
}

.contenedor-footer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

.link {
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #ccc;
}

